
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pierrelaburthe/courtisan"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/courtisan_/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/Courtisan-657529077743360/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/App_Courtisan?lang=fr"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright hidden-xs">
    MassVC was made with <i class="fa fa-heart"></i> by Elliot Seror
  </div>
</div>
