<div class="navbar-wagon">
<div class="name-container">
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo 2.png", {id: "logo"}%></a>
<!-- <h1 class = "title">Mass VC</h1>
 --></div>
<div class="navbar-links">

<!-- <div class="subtitle">What principles can we <strong>all</strong> agree on?</div>
 -->



      <div href="" class="navbar-wagon-item navbar-wagon-link">Login
    </div>

    <div href="" class="navbar-wagon-item navbar-wagon-link">Principles
    </div>

      <div href="" class="navbar-wagon-item navbar-wagon-link about-section">About
  <!-- class="hidden-xs hidden-sm" -->
    <a  id="about-elliot" href="https://www.linkedin.com/in/elliotseror/" target="_blank">
      <%= image_tag "Shanghai1.png", {class: "avatar-photo"}%>
        <div class="about-text" >
        <strong>Elliot Seror</strong> is the mind behind the project. Click for <i class="fa fa-linkedin"></i>
        </div>

    </a>

  </div>




</div>

</div>
