<div class="navbar-wagon">
<div class="name-container">
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo 5.png", {id: "logo"}%></a>
<!-- <h1 class = "title">Mass VC</h1>
 --></div>
<div class="navbar-links">

<!-- <div class="subtitle">What principles can we <strong>all</strong> agree on?</div>
 -->

<!--       <div href="" class="navbar-link log-in">
       Log in
    </div> -->
<!--
    <a href="/principles" class="navbar-link">Principles
    </a>
 -->
      <div href="" class="navbar-link about-section">About
  <!-- class="hidden-xs hidden-sm" -->
    <div  id="about-elliot" >
      <%= image_tag "Shanghai1.png", {class: "avatar-photo"}%>
        <div class="about-text" >
        <strong>Elliot Seror</strong> is building the project. <a href="https://www.linkedin.com/in/elliotseror/" target="_blank">Here</a> is his Linked In, <a href="mailto:pitch@massvc.co.uk">here</a> is his email.
        </div>
    </div>

  </div>




</div>

</div>
