

<div class = "intro-text">
  <h2>Our fund managers don't come to work in the morning. </h2>
  <p><a href="/principles">Learn more</a> about how we are creating a new way of managing money.</p>
<p>Are you a founder? <a href="mailto:pitch@massvc.co.uk?subject=[Your Company Here] Pitch">Send us</a> your pitch. </p>

</div>
