<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->



<%= video_tag "london_bridge.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, id:"myvideo",class: "video" %>

  <div class="investor card">
    <div class="card-title-container">
      <div class="card-pre-title">I am...</div>
      <div class="card-title">an Investor</div>
    </div>
    <p>I invest in MassVC as I believe in a transparent management of my money and in the wisdom of crowds. I want to make great returns while investing in the future.
    </p>
    <div class="investor btn"> <a href="/investor"> Let's get investing! </a></div>
  </div>

  <div class="manager card">
    <div class="card-title-container">
      <div class="card-pre-title">I am...</div>
      <div class="card-title">a Manager</div>
    </div>
    <p>More specifically, I belong to the startup ecosystem, the investing community, or both. I am passionate about investing in promising founders alongside insightful peers.
    </p>
    <div class="manager btn"> <a href="/manager">Let's get managing!</a> </div>
  </div>



