<div class="investor-container">
<h1>Dear Investor,</h1>
<p> We are currently awaiting regulatory approval prior to onboarding you.</p>

<p>
<strong>

Please leave us your email</strong> and you will be the first alerted when the platform goes live.</p>


<form>
  <div class="form-group">
 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email and will send you a single message when the platform is live.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>
