<div class="manager-container">
<h1>Dear Manager,</h1>
<p> We are currently awaiting regulatory approval prior to onboarding you. </p>
<p> <strong>Please leave us your email</strong> and you will be the first alerted when the platform goes live. </p>

<form>
  <div class="form-group">
 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email and will send you a single message when the platform is live.</small>
  </div>
  <p>In the meantime, please give us the url to your Linked In profile in order for us to assess your profile.</p>
    <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Linked In url">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>

