<div class="principles-container">
<h1>Collective principles</h1>
<p> 1. MassVC advocates a new way of running a fund. Our fund managers don't come to work in the morning. They are seasoned investors or startup managers from all around the globe, brought together to make investment decisions.</p>
<p>2. We are looking at creating a new type of fund. MassVC is an experiment and as such, likely to fail.</p>
<!-- <p>2. MassVC is taking the whole experience of investing in and running a VC fund online. On the one side, investors are playing the roles of LPs. On the other, managers run the fund: they receive the pitches, discuss them and, ultimately, make investment decisions.</p>
 -->
 <p>3. We believe in the wisdom of crowds, and in tapping into the power of cognitive diversity.</p>
<h1>Principles for investors</h1>
<p>4. Few things are less financially sound than handing your money to a bunch of strangers along with a mandate to invest in the most risky asset class. However, you are insured and your investments will not be affected if MassVC goes bankrupt.</p>

<h1>Principles for managers</h1>
<p>5. Decisions are not taken by the most senior people during a closed committee. Everyone gets a fair say in moving a startup forward the pipeline and in the discussions leading to the investment decision. However, as not all experiences are equal, decisions are taken following believability-weighted votes.</p>
<p>6. We do not believe in reinveting the wheel. Discussions and votes will take place through Slack, for which managers receive an ID at onboarding. </p>
<!-- <p>6. MassVC's structure is flat when it comes to discussing and moving pitches forward. However, commitee votes and profits are believability-weighted. </p>
 -->
<!--  <p>7. Until we can see which startups fail and which succeed, the believability grade will (unfortunately) have to be determined based on the manager's application only. </p>
<p>8. We meet with founders, perform due diligence and take investment decisions. Legal and accounting functions are outsourced.</p> -->

</div>

