<div class="subcontainer-principles">
  <%= image_tag "bridge.jpg", {id: "cover-principles"}%></a>

<h1>For all</h1>
<p> 1. MassVC advocates a new way of running a fund. Our fund managers don't come to work in the morning. They are seasoned investors or startup managers from all around the globe, brought together to make investment decisions.</p>
 <p>2. We believe in the wisdom of crowds, and in tapping into the power of cognitive diversity.</p>
<h1>For investors</h1>
<p>3. Few things are less financially sound than handing your money to a bunch of strangers along with a mandate to invest in the most risky asset class. However, you are insured and your investments will not be affected if MassVC goes bankrupt.</p>

<h1>For managers</h1>
<p>4. Decisions are not taken by the most senior people during a closed committee. Everyone gets a fair say in moving a startup forward the pipeline and in the discussions leading to the investment decision. However, as not all experiences are equal, decisions are taken following believability-weighted votes.</p>
<p>5. We do not believe in reinveting the wheel. Discussions and votes will take place through Slack, for which managers receive an ID at onboarding. </p>

</div>

