/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.name-container{
  display:flex;
  flex-direction: row;
}


.log-in{
  font-weight: bolder;
}


#logo{
  margin-top:4px;
height: 45px;
}

.navbar-links{
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    font-size: 17px;

a{
// text-decoration:none;
// color:black,
}

}

.navbar-link{
        padding: 0 20px;

}

.about-section{
cursor: pointer;
  &:hover #about-elliot{
  display: flex;
  }

}

#about-elliot {
  // color: black;
  //   text-decoration: none;
  text-align: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius:5px;
  background-color:white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  display: none;
  margin-top: 10px;
  padding: 5px;
      position: absolute;
          height: 200px;
    width: 300px;
    top: 30px;
    right: 40px;
    font-size: 16px;
    z-index:5;

    .avatar-photo{
      margin: auto;
  height:110px;
  width:110px;
  border-radius:50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
}

